node_modules
dist
coverage
test
src/test
.git
.gitignore
.vscode
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lock
backend-api.zip
README.md
LICENSE
.frontmatter
frontmatter.json
frontend
